
.interface .avatar1 {
    content: url(https://juicepoopooumgood.github.io/Juice/image.webp) !important;
    margin-top: -3%;
}
.interface .avatar {
    content: url(https://juicepoopooumgood.github.io/Juice/image.webp) !important;
    margin-top: -3%;
}
