   :root {
    --bg-image: url(https://juicepoopooumgood.github.io/Juice/906880.webp);
}
	   
.left-icons {
    opacity: 0 !important;
    transition: all 0.5s ease-in-out;
}

.left-icons:hover {
    opacity: 1 !important;
    transition: all 0.5s ease-in-out;
}

.left-icons:hover {
    opacity: 1 !important;
    transition: all 0.5s ease-in-out;
}

.right-interface {
    opacity: 0 !important;
    transition: all 0.5s ease-in-out;
}

.right-interface:hover {
    opacity: 1 !important;
    transition: all 0.5s ease-in-out;
}

.right-interface:hover {
    opacity: 1 !important;
    transition: all 0.5s ease-in-out;
}

.play-content {
    opacity: 0 !important;
    transition: all 0.5s ease-in-out;
}

.play-content:hover {
    opacity: 1 !important;
    transition: all 0.5s ease-in-out;
}

.play-content:hover {
    opacity: 1 !important;
    transition: all 0.5s ease-in-out;
}
.invite-btn {
    opacity: 0 !important;
    transition: all 0.5s ease-in-out;
}

.invite-btn:hover {
    opacity: 1 !important;
    transition: all 0.5s ease-in-out;
}

.invite-btn:hover {
    opacity: 1 !important;
    transition: all 0.5s ease-in-out;
}
.auth-user {
    opacity: 0 !important;
    transition: all 0.5s ease-in-out;
}

.auth-user:hover {
    opacity: 1 !important;
    transition: all 0.5s ease-in-out;
}

.auth-user:hover {
    opacity: 1 !important;
    transition: all 0.5s ease-in-out;
}
.moneys {
    opacity: 0 !important;
    transition: all 0.5s ease-in-out;
}

.moneys:hover {
    opacity: 1 !important;
    transition: all 0.5s ease-in-out;
}

.moneys:hover {
    opacity: 1 !important;
    transition: all 0.5s ease-in-out;
}
.logo {
    opacity: 0 !important;
    transition: all 0.5s ease-in-out;
}

.logo:hover {
    opacity: 1 !important;
    transition: all 0.5s ease-in-out;
}

.logo:hover {
    opacity: 1 !important;
    transition: all 0.5s ease-in-out;
}
.mobile-fullscreen {
    opacity: 0 !important;
    transition: all 0.5s ease-in-out;
}

.mobile-fullscreen:hover {
    opacity: 1 !important;
    transition: all 0.5s ease-in-out;
}

.mobile-fullscreen:hover {
    opacity: 1 !important;
    transition: all 0.5s ease-in-out;
}
.news-card {
    opacity: 0 !important;
    transition: all 0.5s ease-in-out;
}

.news-card:hover {
    opacity: 1 !important;
    transition: all 0.5s ease-in-out;
}

.news-card:hover {
    opacity: 1 !important;
    transition: all 0.5s ease-in-out;
} 
.levels {
    opacity: 0 !important;
    transition: all 0.5s ease-in-out;
}

.levels:hover {
    opacity: 1 !important;
    transition: all 0.5s ease-in-out;
}

.levels:hover {
    opacity: 1 !important;
    transition: all 0.5s ease-in-out;
}
.clan-tag {
    opacity: 0 !important;
    transition: all 0.5s ease-in-out;
}

.clan-tag:hover {
    opacity: 1 !important;
    transition: all 0.5s ease-in-out;
}

.clan-tag:hover {
    opacity: 1 !important;
    transition: all 0.5s ease-in-out;
}
/* Custom Backgorund */
#app > div.interface.text-2 > div.background {
background-image: var(--bg-image) !important;
background-size: cover !important;
}
/* Custom Backgorund */
#app > div.interface.text-2 > div.background {
    background-image: var(--bg-image) !important;
    background-size: cover !important;
}
.left-icons {
	border-radius: 900px !important;
	background-color: #ffd90000 !important;
}
.icon-btn {
	border-radius: 20px !important;
	background-color: #0004ff30 !important;
}

/* app.d0488480.css | https://kirka.io/assets/css/app.d0488480.css */

.clan-tag[data-v-2d41c8ac] {
  /* color: var(--WwnNmwWM-2); */
  /* font-size: 16px; */
  /* margin-bottom: -.5rem; */
  color: #fff;
  font-size: 29px;
  margin-bottom: -0.5rem;
}

.in-lobby .clan-tag[data-v-2d41c8ac] {
  /* color: var(--red-1); */
}

.in-lobby .clan-tag.is-ready[data-v-2d41c8ac] {
  /* color: var(--WwwMmWnN-1); */
  color: #c01cce;
}

.klo[data-v-2d41c8ac] {
  display: none;
}

.in-lobby .levels[data-v-2d41c8ac] {
  /* width: 50px; */
  /* font-size: 17px; */
  /* padding: 0; */
  /* font-weight: 500; */
}

@media (max-height: 1000px) {
  .logo[data-v-1b107998] {
    display: none;
  }
}

.progress-line[data-v-5392a807] {
  /* height: 17.6px; */
  display: none;
}

/* Element | https://kirka.io/ */

div.soc-group:nth-child(1) {
  display: none;
}

/* Element | https://kirka.io/ */

div.soc-group:nth-child(2) {
  display: none;
}
