   :root {
    --bg-image: url(https://wallpapers.com/images/hd/black-dirtbike-s3otyjdzjnxgdnhs.jpg);
}
	   
.left-icons {
    opacity: 0 !important;
    transition: all 0.5s ease-in-out;
}

.left-icons:hover {
    opacity: 1 !important;
    transition: all 0.5s ease-in-out;
}

.left-icons:hover {
    opacity: 1 !important;
    transition: all 0.5s ease-in-out;
}

.right-interface {
    opacity: 0 !important;
    transition: all 0.5s ease-in-out;
}

.right-interface:hover {
    opacity: 1 !important;
    transition: all 0.5s ease-in-out;
}

.right-interface:hover {
    opacity: 1 !important;
    transition: all 0.5s ease-in-out;
}

.play-content {
    opacity: 0 !important;
    transition: all 0.5s ease-in-out;
}

.play-content:hover {
    opacity: 1 !important;
    transition: all 0.5s ease-in-out;
}

.play-content:hover {
    opacity: 1 !important;
    transition: all 0.5s ease-in-out;
}
.invite-btn {
    opacity: 0 !important;
    transition: all 0.5s ease-in-out;
}

.invite-btn:hover {
    opacity: 1 !important;
    transition: all 0.5s ease-in-out;
}

.invite-btn:hover {
    opacity: 1 !important;
    transition: all 0.5s ease-in-out;
}
.auth-user {
    opacity: 0 !important;
    transition: all 0.5s ease-in-out;
}

.auth-user:hover {
    opacity: 1 !important;
    transition: all 0.5s ease-in-out;
}

.auth-user:hover {
    opacity: 1 !important;
    transition: all 0.5s ease-in-out;
}
.moneys {
    opacity: 0 !important;
    transition: all 0.5s ease-in-out;
}

.moneys:hover {
    opacity: 1 !important;
    transition: all 0.5s ease-in-out;
}

.moneys:hover {
    opacity: 1 !important;
    transition: all 0.5s ease-in-out;
}
.logo {
    opacity: 0 !important;
    transition: all 0.5s ease-in-out;
}

.logo:hover {
    opacity: 1 !important;
    transition: all 0.5s ease-in-out;
}

.logo:hover {
    opacity: 1 !important;
    transition: all 0.5s ease-in-out;
}
.mobile-fullscreen {
    opacity: 0 !important;
    transition: all 0.5s ease-in-out;
}

.mobile-fullscreen:hover {
    opacity: 1 !important;
    transition: all 0.5s ease-in-out;
}

.mobile-fullscreen:hover {
    opacity: 1 !important;
    transition: all 0.5s ease-in-out;
}
.news-card {
    opacity: 0 !important;
    transition: all 0.5s ease-in-out;
}

.news-card:hover {
    opacity: 1 !important;
    transition: all 0.5s ease-in-out;
}

.news-card:hover {
    opacity: 1 !important;
    transition: all 0.5s ease-in-out;
} 
.levels {
    opacity: 0 !important;
    transition: all 0.5s ease-in-out;
}

.levels:hover {
    opacity: 1 !important;
    transition: all 0.5s ease-in-out;
}

.levels:hover {
    opacity: 1 !important;
    transition: all 0.5s ease-in-out;
}

/* Custom Backgorund */
#app > div.interface.text-2 > div.background {
background-image: var(--bg-image) !important;
background-size: cover !important;
}
/* Custom Backgorund */
#app > div.interface.text-2 > div.background {
    background-image: var(--bg-image) !important;
    background-size: cover !important;
}
.left-icons {
	border-radius: 900px !important;
	background-color: #ffd90000 !important;
}
.icon-btn {
	border-radius: 20px !important;
	background-color: #0004ff30 !important;
}
